

@media (max-width: 576px) {
    .report-styles .background-media-block h2, .layout-columns h2 {
        font-size: 2rem;
    }
}

.report-styles p, h5 {
    padding-left: 1rem!important;
    padding-right: 1rem;
}

.report-styles .left-column {
    background: rgba(0, 0, 0, .6);
    padding-left: 0 !important;
}

.report-styles .theses-title {
    font-size: 3rem;
    font-weight: bold;
}

.report-styles .subtitle {
    font-size: 1.5rem;
    border-bottom: 2px solid;
}

.report-styles .cm-green {
    color: green;
}

.report-styles .cm-blue {
    color: rgb(0, 121, 159);
}

.report-styles .cm-light-blue {
    color: rgb(132, 171, 195);
}

.report-styles .cm-red {
    color: rgb(199, 81, 65);
}

.report-styles .cm-orange {
    color: rgb(223, 160, 135);
}

.report-styles .logo {

}

.report-styles .image {
    width: auto;
    height: 100%;
    margin-left: 0px;
}
