.report-styles .title-focus {
    border-left: 7px solid #C5AE49;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.report-styles .main-content{
    padding-left: 2.5rem;
}

.report-styles .main-info h4{
    color: #C5AE49;
}

.report-styles .right-back-img{
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

@media (max-width: 576px) {
    .report-styles .right-back-img {
        height:100vh;
        right: 0 !important;
    }
    .report-styles .back-content{
        font-size:1rem;
    }
    .report-styles .main-content{
        padding-left: 1rem;
    }
}

.report-styles .back-content{
    color: white;
    position: absolute;
    bottom: 2%;
}
