
h2 {
    font-size: 3rem;
}

.cover-img {
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
}

.cover-media {
    display: flex;
    padding-top: 15rem;
}

.cover-title {
    color: white;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.2;
}

.bottom-panel {
    position: relative;
    bottom: 0;
    right: 0;
    background-color: #021a20;
    width: 100%;
}

.bottom-panel-height {
    height: 15vh;
    max-height: 8rem;
}

.bottom-buttons {
    color: white;
    padding: 2em 5.5em 2em 5.5em;
    display: inline-block;
}

.block-1 {
    border-top: 0.6em solid #d4483e;
    background: linear-gradient(90deg, rgba(44,44,61,0.8141631652661064) 6%, rgba(7,33,46,1) 57%, rgba(6,21,54,1) 98%);
}

.block-2 {
    border-top: 0.6em solid #007ba1;
    background: linear-gradient(90deg, rgba(44,44,61,0.8141631652661064) 6%, rgba(7,33,46,1) 57%, rgba(6,21,54,1) 98%);
}

.block-3 {
    border-top: 0.6em solid #c5ae3f;
    background: linear-gradient(90deg, rgba(44,44,61,0.8141631652661064) 6%, rgba(7,33,46,1) 57%, rgba(6,21,54,1) 98%);
}

.block-4 {
    border-top: 0.6em solid #6d2948;
    background: linear-gradient(90deg, rgba(44,44,61,0.8141631652661064) 6%, rgba(7,33,46,1) 57%, rgba(6,21,54,1) 98%);
}

.report-styles .block-5 {
    border-top: 0.6em solid #086e3d;
    background: linear-gradient(90deg, rgba(44,44,61,0.8141631652661064) 6%, rgba(7,33,46,1) 57%, rgba(6,21,54,1) 98%);
}

.report-styles .block-6 {
    border-top: 0.6em solid #89593a;
    background: linear-gradient(90deg, rgba(44,44,61,0.8141631652661064) 6%, rgba(7,33,46,1) 57%, rgba(6,21,54,1) 98%);
}

.report-styles .point{
    height: 7rem;
    font-size: 1.5rem;
    line-height: 4.5rem;
    color: #fff;
    padding-left: 1rem;
    display: block;
    text-decoration: none;
}

@media (max-width: 1400px) {
  .report-styles .point {
      padding-top: 1.5rem;
      line-height: 2rem;
  }
}

.report-styles .container-points {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

@media (max-width: 992px) {
    .report-styles .container-points {
        position: relative;
        padding-top: 3rem;
    }
}

.report-styles .cover-image-height {
    height: 85vh;
}


@media (max-width: 900px) {
  .report-styles .cover-media  {
    padding-top: 7rem;
  }
  .report-styles .bottom-panel-height  {
    height: initial;
    position: initial;
  }
  .report-styles .case_studies_header {
    left: 1rem !important;
    top: -1.5rem !important;
  }
}

@media (max-width: 576px) {
  .report-styles .cover-image-height {
    height: 75vh;
  }
  .report-styles .bottom-panel-height  {
    height: initial;
    position: initial;
    max-height: initial;
  }
  .report-styles .cover-media  {
    padding-top: 5rem;
  }
  .report-styles .case-study-image-container {
      margin-left: 3rem;
  }

  .report-styles .cover-title {
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .report-styles h2 {
      font-size: 2rem;
  }

  .report-styles .mx-sm-2 {
      margin-left: 0.3rem !important;
      margin-right: 0.3rem !important;
  }
}

@media (max-width: 325px) {
    .report-styles h2 {
       font-size: 1.5rem;
    }

    .report-styles .theses-title {
        font-size: 2rem !important;
    }
    .report-styles .subtitle {
        font-size: 1rem !important;
    }
    .report-styles .s-p-0 {
        padding: 1rem !important;
    }
}