.main-container{
    position:relative;
    height: 100vh;
}

.back-img {
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.text {
    color: #6d2948;
}

.bottom-case {
    display: flex;
    width: 100%;
}

.content-color {
    background-color: #273377;
    color: white;
}

.title-impact {
    border-left: 7px solid #273377;
}

.country {
    border-right: 3px solid #6d2948;
    text-align: center;
    margin-bottom: 1rem;
}