{% load static %}

<!doctype html>
<html lang="en">
<head>
{% block head_meta %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/case-study.css' %}">
<link rel="stylesheet" href="{% static 'css/background-image.css' %}">
{% endblock head_meta %}
</head>

<body>{% block page_body %}{% block wrapper_tags_head %}{% endblock wrapper_tags_head %}
{% block site_header %}{% endblock site_header %}
{% block site_html_snippets %}{% endblock site_html_snippets %}
{% block content %}{% endblock content %}
{% block site_footer %}{% endblock site_footer %}

{% block site_footer_js %}{% endblock site_footer_js %}
{% block site_custom_js %}{% endblock site_custom_js %}
{% block wrapper_tags_foot %}{% endblock wrapper_tags_foot %}{% endblock page_body %}
</body>
</html>